<div class="row">
<div class="col-md-4">
<h2>Carbo 说</h2>
<p>东风破早梅 向暖一枝开 冰雪无人见 春从天上来</p>
</div>
<div class="col-md-4">
<h2>BYVoid 说</h2>
<p>
Open Chinese Convert(OpenCC)是一个开源的中文简繁转换项目,
</div>
<div class="col-md-4">
<h2>佛振 说</h2>
<p>中州韵输入法引擎 / Rime Input Method Engine 取意历史上通行的中州韵,
使其成为一款个性十足的开源输入法。</p>
</div>
</div>
